.guessResult {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  margin-bottom: 10px;
  font-size: 2rem;

  div {
    color: white;
    background-color: #787c7e;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d3d6da;
    text-transform: uppercase;
  }
}