.leaderboard {
  position: fixed;
  left: 20px;
  top: 10px;
  display: flex;
  flex-direction: column;
  width: 150px;

  .title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
  }

  .ranking {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 10px;
  }

  .result {
    &__item {
      width: 30px;
      height: 30px;
    }
  }

  .icons {
    display: flex;
    flex-direction: column;

    &__item {
      width: 30px;
      height: 30px;
    }
  }
}

.wordle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.guessResult {
  min-height: 30vh;

  &__row {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
  }

  &__letter {
    color: white;
    background-color: #787c7e;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d3d6da;
    text-transform: uppercase;

    &--hit {
      background-color: #6aaa64;
    };
    &--present {
      background-color: #c9b458;
    };
    &--miss {
      background-color: #787c7e;
    };
  }
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;

  .inputContainer {
    display: flex;
    justify-content: center;
  }
}

button {
  width: 200px;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px;
  background-color: #d3d6da;
  border: 0;
  cursor: pointer;
}